h1:hover {
  color: red;
}

a {
  color: red;
  background: yellow;
  border: 1px solid yellow;
  border-radius: 3px;
  position: relative;
  top: 10px;
  left: 30px;
  padding:15px 10px;
}

* {
  font-family: "Roboto";
}
