h1:hover {
  color: red;
}

a {
  color: red;
  background: yellow;
  border: 1px solid yellow;
  border-radius: 3px;
  position: relative;
  top: 10px;
  left: 30px;
  padding:15px 10px;
  text-decoration: none;
}

a:hover {
  color: OrangeRed;
  background: DarkGoldenRod;
}

* {
  font-family: "Roboto";
}
