h1:hover {
  color: hsl(0, 100%, 50%);
}

a {
  color: hsl(0, 100%, 50%);
  background: hsl(60, 100%, 50%);
  border: 1px solid hsl(60, 100%, 50%);
  border-radius: 3px;
  position: relative;
  top: 10px;
  left: 30px;
  padding:15px 10px;
  text-decoration: none;
}

a:hover {
  color: hsl(0, 80%, 50%);
  background: hsl(60, 80%, 50%);
  border: 1px solid hsl(60, 80%, 50%);
}

* {
  font-family: "Roboto";
}
